<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <hr />
        <div class="container">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>
    </div>
</footer>

